<template>
  <div class="hello">
    <div :class="{ teal: isteal, orange: isorange, red: isred, cyan: iscyan }">
      <label v-show="picked ==='1'">label on left</label>
      <input
        type="radio"
        name=""
        id=""
        value='1'
        v-model="picked"
      />
      <label v-show="picked ==='2'">label on left</label>
      <label v-show="picked === '1'">label on right</label>
      <input
        type="radio"
        name=""
        id=""
        value='2'
        v-model="picked"
        
      />
      <label v-show="picked ==='2'">label on right</label>
    </div>
    <br />
    <div :class="{ teal: isteal, orange: isorange, red: isred, cyan: iscyan }">
      <input
        type="checkbox"
        name=""
        id=""
        v-model="toggle"
        true-value="true"
        false-value="false"
        :class="{ teal: isteal, orange: isorange, red: isred, cyan: iscyan }"
      /><label>have lunch ?</label>
      <p>the modal data :{{ toggle }}</p>
    </div>
    <br />
    <div :class="{ teal: isteal, orange: isorange, red: isred, cyan: iscyan }">
      <input
        type="checkbox"
        name=""
        id=""
        value="teal"
        v-model="checkname"
      /><label>teal</label>
      <input
        type="checkbox"
        name=""
        id=""
        value="orange"
        v-model="checkname"
      /><label>orange</label>
      <input
        type="checkbox"
        name=""
        id=""
        value="red"
        v-model="checkname"
      /><label>red</label>
      <input
        type="checkbox"
        name=""
        id=""
        value="cyan"
        v-model="checkname"
      /><label>cyan</label>
      <p>the modal array data :{{ checkname }}</p>
    </div>
    <br />
    <div class="row">
      <select v-model="checkone" @change="changecolor()">
        <option disabled value="">Please select one</option>
        <option :value="teal">teal</option>
        <option :value="orange">orange</option>
        <option :value="red">red</option>
        <option :value="cyan">cyan</option>
      </select>
      <span>Selected: {{ checkone }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      picked:'1',
      toggle:true,
      checkname: [],
      checkone: "",
      teal: "teal",
      orange: "orange",
      red: "red",
      cyan: "cyan",
      isteal: false,
      isorange: false,
      isred: false,
      iscyan: false,
    };
  },
  props: {
    msg: String,
  },
  computed: {},
  methods: {
    changecolor: function () {
      switch (this.checkone) {
        case "teal":
          this.isteal = true;
          this.isorange = false;
          this.isred = false;
          this.iscyan = false;
          break;
        case "orange":
          this.isteal = false;
          this.isorange = true;
          this.isred = false;
          this.iscyan = false;
          break;
        case "red":
          this.isteal = false;
          this.isorange = false;
          this.isred = true;
          this.iscyan = false;
          break;
        case "cyan":
          this.isteal = false;
          this.isorange = false;
          this.isred = false;
          this.iscyan = true;
          break;
      }
    },
    
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 15px;
  height: 12px;
  position: relative;
}
.teal input[type="checkbox"]:checked:after {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: teal;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
  content: "✓";
  font-size: 12px;
}
.red input[type="checkbox"]:checked:after {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: red;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
  content: "✓";
  font-size: 12px;
}
.orange input[type="checkbox"]:checked:after {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: orange;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
  content: "✓";
  font-size: 12px;
}
.cyan input[type="checkbox"]:checked:after {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: cyan;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
  content: "✓";
  font-size: 12px;
}
</style>

